<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Use the title from a page's frontmatter if it has one -->
        <title><%= current_page.data.title || "Hot Club Worms" %></title>
        <%= stylesheet_link_tag "cookieconsent" %>
        <%= stylesheet_link_tag "iframemanager" %>
        <%= stylesheet_link_tag "site" %>
    </head>
    <body>
        <div id="top" class="container">
            <header>
                <div class="is-horizontal-align">
                    <% link_to "/index.html" do %>
                        <%= image_tag 'hcw-logo.png', alt: "Hot Club Worms Logo", width: "192px" %>
                    <% end %>
                </div>
                <div class="is-horizontal-align">
                    <% link_to "/index.html" do %>
                        <h1 class="text-uppercase title">Hot Club Worms</h1>
                    <% end %>
                </div>
                <div class="is-horizontal-align">
                    <h4>Hot Jazz &amp; Swing</h4>
                </div>
            </header>
            <nav id="main-nav" class="tabs is-full">
                <a href="javascript:;" id="nav-toggle">
                    Menu
                    <i class="fas fa-bars"></i>
                </a>
                <%= nav_link "Ensemble", "/ensemble" %>
                <%= nav_link "Media", "/media" %>
                <%= nav_link "Termine", "concerts" %>
                <%= link_to "Kontakt", "mailto:booking@hotclubworms.de" %>
                <% link_to "https://www.instagram.com/hotclubworms/" do %>
                    <i class="fab fa-instagram"></i>
                <% end %>
                <% link_to "https://www.youtube.com/channel/UCE5cYaqH8XRtUiIkSReGpiw" do %>
                    <i class="fab fa-youtube"></i>
                <% end %>
            </nav>
            <main role="main">
                <%= yield %>
            </main>
            <footer>
                <p>
                    &copy; 2021 Sebastian Christ -
                    <%= link_to "Impressum", "/imprint.html" %> -
                    <%= link_to "Datenschutzerklärung", "/privacy-policy.html" %> -
                    <%= link_to "Cookie-Einstellungen", "#", id: "cookie-settings"%> -
                    <%= link_to "Promoter One-Sheet", "/onesheet" %>
                </p>
            </footer>
        </div>
        <%= javascript_include_tag "cookieconsent" %>
        <%= javascript_include_tag "iframemanager" %>
        <%= javascript_include_tag "cookieconsent-init" %>
        <%= javascript_include_tag "site" %>
    </body>
</html>
