<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Use the title from a page's frontmatter if it has one -->
        <title><%= current_page.data.title || "Hot Club Worms" %></title>
        <%= stylesheet_link_tag "site", media: "screen" %>
        <%= stylesheet_link_tag "print", media: "print" %>
    </head>
    <body>
        <div id="top" class="container">
            <main role="main">
                <%= yield %>
            </main>
            <footer>
                <p>
                    &copy; 2021 Sebastian Christ -
                    <%= link_to "Impressum", "/imprint.html" %> -
                    <%= link_to "Datenschutzerklärung", "/privacy-policy.html" %> -
                </p>
            </footer>
        </div>
    </body>
</html>
