---
title: Termine
---
<article>
    <section class="container">
        <div class="row">
            <div class="col">
                <h2>Upcoming</h2>
                <p id="no-upcoming-note" class="is-hidden">Derzeit gibt es keine anstehenden Veranstaltungen.</p>
                <div id="upcoming">
                </div>
            </div>
            <div class="col">
                <h2>Veranstaltungen</h2>
                <div id="events">
                    <% data.events.each do |event| %>
                    <div data-date="<%= event.date %>" class="row event">
                        <div class="card is-full-width">
                            <header>
                                <h3><%= event.title %></h3>
                            </header>
                            <p>
                                <strong><%= date_string event.date %></strong><br/>
                                <em><%= event.location %></em>
                            </p>
                            <p><%= event.description %></p>
                            <% if event.url? %>
                                <a href="<%= event.url %>">Link</a>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
</article>
