---
title: Ensemble
---

<article>
    <section class="ensemble">
        <h1>Ensemble</h1>
        <div class="row">
            <div class="col-6">
                <h4>Jakob Shabbir (g)</h4>
                <p>
                    Jakob, in Friedrichshafen am Bodensee geboren, ist
                    Mitglied einer musikalischen Sinti-Familie, die
                    ihre Wurzeln in Deutschland und Frankreich hat.
                </p>
                <p>
                    Im Alter von 16 Jahren begann er auf der Gitarre
                    zu zupfen und hatte bereits ein gutes Gehör für
                    Musik.  Hierbei wurde er von seinen Vorbildern,
                    unter anderem Django Reinhardt, Baden Powell,
                    Costa Lucaks, Jimmy Rosenberg und Pat Martino
                    inspiriert.  Auch innerhalb seiner Familie, hier
                    Onkel Ringo und Robert Köhler, Jazz Gitarristen
                    aus dem Bodenseekreis, haben Jakob in seiner
                    Anfangszeit unterstützt und ihn mit den Grundlagen
                    des Instruments vertraut gemacht.  Im Alter von 19
                    Jahren gründete Jakob seine damalige Bandformation
                    <i>Impro Tower</i>, die am Bodensee das Publikum
                    als Jazz Band unterhielt. Neben Kollegen am
                    Saxophon, Klavier, Schlagzeug und Gesang hat Jakob
                    als Gitarrist den Kern dieser Band formiert und
                    ausgebaut.
                </p>
                <p>
                    Ende 2019 gründete Jakob Shabbir mit Sebastian
                    Christ den <strong>Hot Club Worms</strong>, der
                    sich intensiv mit der Musik Django Reinhardts
                    auseinandersetzt.
                </p>
                <p>
                    Seit Beginn seines musikalischen Wirkens
                    interessiert er sich für verschiedene Arten von
                    Musik wie Jazz manouche, Klassik, Bossa Nova,
                    Bebop und Fusion.  Von seinem stetigen Interesse
                    angetrieben hat Jakob über die Jahre seine
                    Kenntnisse erweitert und zählt nunmehr als
                    Kernmitglied des <strong>Hot Club Worms</strong>.
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <div class="profile-image is-full-width">
                    <%= image_tag "jakob.jpg" %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>Alexander Herbrandt (g)</h4>
                <p>
                    Alexander hat einen Teil seiner Kindheit in
                    Russland verbracht und lernte die ersten Akkorde
                    von seinem Vater. Spielte dann viele Jahre
                    russischen Chanson und die Gitarre wurde sein
                    ständiger Begleiter.
                </p>
                <p>
                    In seiner Studienzeit wurde er für die klassische
                    Gitarre begeistert und lernte wenige der wichtigen
                    Solostücke, was ihn technisch stark voranbrachte.
                </p>
                <p>
                    Durch seine Frau und die vielen Aufenthalte in
                    Spanien verliebte er sich in die Flamenco Musik
                    und hatte etwas Zeit in die Spiel-Techniken
                    einzutauchen, bevor er 2019 Sebastian und Jakob
                    traf. Seit dem begleitet er beim <strong>Hot Club Worms</strong>
                    enthusiastisch mit Lust auf mehr Virtuosität,
                    Rhythmus und dem crunchigen Sound.
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <div class="profile-image is-full-width">
                    <%= image_tag "guitar.jpg" %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>Sebastian Rudolfo Christ (g)</h4>
                <p>
                    Sebastian ist ein in Worms am Rhein ansässiger
                    Jazz-Gitarrist und Kontrabassist.
                </p>
                <p>
                    Sein Spezialgebiet sind die frühen Jazz-Stile der
                    20er und 30er Jahre des zwanzigsten
                    Jahrhunderts. Sein Hauptaugenmerk liegt hierbei
                    auf der Musik Django Reinhardts, heute Jazz
                    manouche genannt.
                </p>
                <p>
                    <%= link_to "Website", "https://www.rudolfochristguitar.de/" %>
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <div class="profile-image is-full-width">
                    <%= image_tag "sebastian.jpg" %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>Ben Melzer (b)</h4>
                <p>
                    Als Sohn eines Jazz-Pianisten kam Ben schon seit
                    frühester Kindheit mit dem Jazz in Berührung. Nach
                    einigen Jahren Unterricht am Klavier und Saxophon fand
                    er letztlich zum Bass.
                </p>
                <p>
                    In den letzten 20 Jahren am E-Bass und Kontrabass
                    spielte er in diversen Bands unterschiedlichster
                    Genres. Jetzt sorgt er beim <strong>Hot Club für das</strong>
                    musikalische Fundament.
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <div class="profile-image is-full-width">
                    <%= image_tag "ben.jpg", class: "positioned"%>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>Achim Kraus (ts, as, ss)</h4>
                <p>
                    Achim kann mittlerweile auf über etwa 40 Jahre
                    Banderfahrung zurückblicken. Im Laufe der Zeit und
                    durch wechselnde Musikformationen ergab sich für
                    ihn eine Wanderung durch verschiedene
                    Stilrichtungen in der Reihenfolge: Dixieland,
                    Swing, Mainstream (Real Book Stücke), Oldies und
                    Pop und zuletzt, und auch noch aktuell, Vocal
                    Jazzrock (<a href="http://www.groovin-nana.de/">Groovin'Nana</a>).
                </p>
                <p>
                    Durch die Mitwirkung beim <strong>Hot Club
                    Worms</strong> findet er stilistisch nunmehr
                    wieder zu seinen musikalischen Anfängen zurück und
                    bringt dabei seine Erfahrungen aus den anderen
                    Musik-Richtungen mit ein.
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <div class="profile-image is-full-width">
                    <%= image_tag "achim.jpg" %>
                </div>
            </div>
        </div>
    </section>
</article>
